{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section gradient-banner mb-5 pt-0">
  <div class="container hero-index">
    <div class="row align-items-center">
    <div class="col-12 d-block d-md-none text-center mb-4 order-1">
      <img class="img-fluid pl-5 d-block" src="{% static 'images/hero_img-removebg.png' %}" alt="screenshot">
    </div>
      <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left"
           data-aos="fade-right"
           data-aos-delay="300"
           data-aos-duration="500">
        <h1 class="text-white fw-bold mb-4">
            Diseño Web, SEO y Branding para Profesionales de la Salud
        </h1>
        <a aria-label="planes" href="{% url 'planes' %}"
           class="btn-cta-primary px-4 py-3 px-sm-5 py-sm-4 fs-5 fs-sm-4 fw-bold shadow-lg d-inline-block">
           VER PLANES
        </a>
      </div>
      <div class="col-md-6 text-center d-none d-md-block order-1 order-md-2"
           data-aos="fade-left"
           data-aos-delay="600"
           data-aos-duration="1000">
        <img class="img-fluid" src="{% static 'images/hero_img-removebg.png' %}" alt="screenshot">
      </div>
    </div>
  </div>
</section>

<div class="ticker-wrapper primary-bg py-5 overflow-hidden">
  <div class="ticker d-flex align-items-center justify-content-center">
    <h5 class="mb-0 fw-bold text-white display-5 text-uppercase  ticker-text text-center">
        Si eres recién egresado del área de salud, crea tu landing profesional desde $59.990. ¡Con buenas notas accedes a descuento especial!
    </h5>
  </div>
</div>

<section class="feature section mt-5 pt-0">
	<div class="container mb-5">
		<div class="row ">
			<div class="col-lg-6 ml-auto justify-content-center">
				<div class="image-content" data-aos="fade-right">
					<img class="img-fluid" src="{% static 'images/section-beneficios (1).png' %}" alt="iphone">
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-mobile">
				<div >
					<h2 class="section-title" > <strong>¿Quienes Somos?</strong></h2>
				<h3 class="desc ">
                Somos HTA una agencia de marketing pensada y creada para profesionales de la salud que buscan posicionarse y competir en el mundo digital para potenciar su negocio.
                </h3>
                </div>
			</div>
		</div>
	</div>
</section>
<section class="hero py-5 secondary-bg text-center">
  <div class="container">
    <h1 class="text-white display-5">¿Recién egresaste del área de la salud?</h1>
    <p class="lead text-white">Crea tu página para ser visible en redes y exponer tus habilidades, por solo $59.990, y si fuiste un alumno destacado tienes un 20% de descuento.</p>
    <a href="{% url 'egresados' %}" class="btn btn-light fw-bold mt-3">Cotiza Gratis</a>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="text-center">
      <h2 class="section-title"><strong>Nuestros Servicios</strong></h2>
    </div>
    <div class="row align-items-center justify-mobile mb-5 " data-aos-delay="300" data-aos-duration="1000" data-aos="fade-right">
      <div class="col-lg-6">
        <h2><strong>Diseño y desarrollo <span class="color-primary">WEB</span></strong></h2>
        <p >
          Creamos sitios web específicamente para el <span class="color-primary">sector de la salud</span>, diseñados para atraer a nuevos pacientes,
          generar confianza y resaltar tus servicios médicos. Mejora tu presencia en línea, consigue contactos calificados y
          <strong class="color-primary">establece tu clínica como un referente en su especialidad.</strong>
          ¡Facilita que tus pacientes te encuentren y den el primer paso hacia su consulta!
        </p>
        <a aria-label="ver mas"  href="{% url 'diseño_web' %}" class="btn-section btn-80-mobile mt-3">Ver más</a>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="{% static 'images/coding.png' %}" alt="IMG" class="img-fluid w-75 w-lg-50">
      </div>
    </div>
    <div class="row align-items-center mb-5 flex-lg-row-reverse justify-mobile" data-aos-delay="300" data-aos-duration="1000" data-aos="fade-left">
      <div class="col-lg-6">
        <h2><strong>SEO para <span class="color-primary">Clínicas Médicas</span></strong></h2>
        <p>
          <span class="color-primary">Aparece en los primeros resultados de búsqueda cuando tus pacientes buscan atención médica.</span> Nos encargamos de optimizarlo con estrategias de SEO específicas para el sector salud, lo que te ayudará a aumentar tu visibilidad en Google y atraer tráfico orgánico de calidad. <strong class="color-primary">Más visitas significan más reservas y, por supuesto, más pacientes.</strong>
        </p>
        <a aria-label="ver mas" href="{% url 'seo' %}" class="btn-section btn-80-mobile mt-3">Ver más</a>
      </div>
      <div class="col-lg-6 d-flex mt-4 justify-content-center">
        <img src="{% static 'images/seo.png' %}" alt="IMG" class="img-fluid w-75 w-lg-50">
      </div>
    </div>
    <div class="row align-items-center mb-5 justify-mobile" data-aos-delay="300" data-aos-duration="1000" data-aos="fade-right">
      <div class="col-lg-6">
        <h2><strong><span class="color-primary">Branding Médico </span></strong>Profesional</h2>
        <p>
          <span class="color-primary">Diseñamos una estrategia personalizada</span> según tus servicios y objetivos para que <strong class="color-primary">aparezcas en los resultados de las búsquedas</strong> que realizan los pacientes que requieren tu especialidad médica.
        </p>
        <a aria-label="ver mas" href="{% url 'branding' %}" class="btn-section btn-80-mobile mt-3">Ver más</a>
      </div>
      <div class="col-lg-6 mt-4 d-flex justify-content-center">
        <img src="{% static 'images/branding.jpg' %}" alt="IMG" class="img-fluid w-75 w-lg-50">
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light" id="proceso">
	<div class="container">
	  <div class="text-center mb-5">
		<h2 class="fw-bold color-primary"><strong>¿Cómo trabajamos contigo?</strong></h2>
		<p class="lead text-dark">Conoce el paso a paso de nuestro proceso personalizado para profesionales de la salud</p>
	  </div>
	  <div class="row justify-content-between text-center timeline-process position-relative">
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-check2-circle"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>1. Elección del servicio</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-camera-video"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>2. Videollamada diagnóstica</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-file-earmark-text"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>3. Propuesta personalizada</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-code-slash"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>4. Desarrollo y branding</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-cloud-upload"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>5. Publicación y capacitación</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-graph-up-arrow"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>6. Supervición</strong></h6>
		</div>
	  </div>
	</div>
	<div class="container text-center">
		<a aria-label="proceso completo" class="btn btn-section-secondary" href="{% url 'servicios' %}" >Ver paso a paso completo</a>
	</div>
  </section>
<section class="py-5">
	<div class="container">
	  <h2 class="item-title" data-aos="fade-up" data-aos-delay="100"><strong>Escoge tu Perfil</strong></h2>
	  <div class="row align-items-center" style="min-height: 400px;">
		<div class="col-md-4 d-flex flex-column gap-3 justify-content-center">
		  <button id="verMasBtn" class="btn btn-outline-dark w-100 mb-3"
			onclick="cambiarContenido('Aumentamos tu visibilidad online para que más personas descubran tus tratamientos estéticos. Creamos campañas atractivas que generan confianza, potencian tu imagen profesional y hacen que tu agenda se mantenga llena.')"
			data-aos="fade-right" data-aos-delay="100" data-aos-duration="800">
			CLÍNICAS ESTÉTICAS
		  </button>
		  <button id="verMasBtn" class="btn btn-outline-dark w-100 mb-3"
			onclick="cambiarContenido('Mejoramos la visibilidad de tu clínica médica con una presencia digital profesional, optimizada para buscadores y redes sociales. Llegamos a quienes realmente necesitan tus servicios.')"
			data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
			CLÍNICAS MÉDICAS
		  </button>
		  <button id="verMasBtn" class="btn btn-outline-dark w-100 mb-3  "
			onclick="cambiarContenido('Atrae nuevos pacientes con campañas específicas para tratamientos dentales. Posicionamos tu clínica en Google y redes sociales para quienes buscan una sonrisa perfecta.')"
			data-aos="fade-right" data-aos-delay="300" data-aos-duration="800">
			CLÍNICAS DENTALES
		  </button>
		  <button id="verMasBtn" class="btn btn-outline-dark w-100 mb-3"
			onclick="cambiarContenido('Conectamos tu centro kinesiológico con personas que buscan aliviar dolores, mejorar su movilidad o recuperarse de lesiones. Optimizamos tu presencia online con campañas y contenidos de valor')"
			data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
			CENTROS KINESIOLÓGICOS
		  </button>
		  <button id="verMasBtn" class="btn btn-outline-dark w-100 mb-3"
			onclick="cambiarContenido('Te ayudamos a construir una comunidad saludable. Promociona tus planes nutricionales, asesorías personalizadas y talleres a través de estrategias digitales efectivas')"
			data-aos="fade-right" data-aos-delay="500" data-aos-duration="800">
			CONSULTAS NUTRICIONALES
		  </button>
		  <button id="verMasBtn" class="btn btn-outline-dark w-100 mb-3"
			onclick="cambiarContenido('Creamos una imagen profesional, cercana y empática para que más personas te encuentren y se animen a dar el primer paso contigo.')"
			data-aos="fade-right" data-aos-delay="600" data-aos-duration="800">
			CONSULTAS PSICOLÓGICAS
		  </button>
		</div>
		<div id="verMasBtn" class="col-md-8 d-flex flex-column align-items-center justify-content-center text-center"
		data-aos="fade-left" data-aos-delay="700" data-aos-duration="1000">
		<h3 id="contenido" class="text-dark px-3 mb-4" data-text=""></h3>
		   <a aria-label="contacto" target="_blank" href="https://wa.me/56931009144?text=Hola,%20quiero%20potenciar%20mi%20consulta%20médica%20con%20su%20ayuda%20quiero%20agendar%20una%20reunión" class="btn btn-cta-alternative btn-lg px-5 py-3 shadow-sm">Contactanos</a>
	  </div>
	  </div>
	</div>
  </section>

{% endblock %}