{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="bg-white d-flex align-items-center" style="min-height: 75vh;">
  <div class="container">
    <div class="row align-items-center justify-content-center justify-mobiles">
      <div class="col-md-6 mb-4 text-center">
        <h1 class="color-secondary fw-bold">
          <strong>
            <span class="d-none d-lg-inline display-1">HEALTECH AGENCY</span>
            <span class="d-inline d-lg-none display-5">HEALTECH AGENCY</span>
          </strong>
        </h1>
      </div>
      <div class="col-md-6 justify-mobile">
        <h2 class="fw-bold color-primary mb-3">Sobre Nosotros</h2>
        <p class="text-muted">
            Somos una agencia especializada en desarrollo web, branding y posicionamiento SEO para médicos y clínicas. Nacimos con una misión clara:
            profesionalizar la presencia digital del sector salud sin perder su esencia humana.
            Contamos con un equipo de expertos en marketing médico, con amplia experiencia en el crecimiento y posicionamiento de clínicas y profesionales de la salud
            a lo largo de todo Chile. Nuestra trayectoria nos permite ofrecer soluciones estratégicas, éticas y efectivas, diseñadas para fortalecer tu reputación digital
            y aumentar tu captación de pacientes.
        </p>
        <p class="text-muted">
          Combinamos experiencia en diseño, tecnología y comunicación para ayudarte a conectar con más pacientes de forma ética, elegante y efectiva.
        </p>
      </div>
    </div>
  </div>
</section>
      <section class="py-5 " id="por-que-web-medica">
        <div class="container">
          <div class="text-center mb-5">
            <h2 class="fw-bold color-primary"><strong>Lo que nos define</strong></h2>
          </div>
          <div class="row g-4 justify-content-center  benefit-card-group">
            <div class="col-sm-6 mb-3 col-lg-4 col-xl-4">
              <div class="benefit-card h-100 text-center p-4 shadow-sm rounded-4 bg-white">
                <div class="icon-circle mb-3">
                  <i class="bi bi-emoji-smile"></i>
                </div>
                <h5 class="fw-bold mb-2">Profesionales</h5>
                <p>Cuidamos cada detalle para reflejar la excelencia de tu trabajo médico</p>
              </div>
            </div>
            <div class="col-sm-6 mb-3 col-lg-4 col-xl-4">
              <div class="benefit-card h-100 text-center p-4 shadow-sm rounded-4 bg-white">
                <div class="icon-circle mb-3">
                  <i class="bi bi-bar-chart-line"></i>
                </div>
                <h5 class="fw-bold mb-2">Cercanos</h5>
                <p>Te acompañamos como un socio, no como un proveedor</p>
              </div>
            </div>
            <div class="col-sm-6 mb-3 col-lg-4 col-xl-4">
              <div class="benefit-card h-100 text-center p-4 shadow-sm rounded-4 bg-white">
                <div class="icon-circle mb-3">
                  <i class="bi bi-clock-history fs-2 "></i>
                </div>
                <h5 class="fw-bold mb-2">Expertos</h5>
                <p >
                    Creamos soluciones pensadas para crecer contigo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
<section class="py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="section-title"><strong>Como Trabajar con Nosotros</strong></h2>
    </div>
    <div class="row align-items-center mb-5" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
      <div class="col-lg-6 justify-mobile">
        <h2><strong>Cotiza el servicio que necesites</strong></h2>
        <p>Haz clic en "Cotizar" para hablar directamente con nuestro asistente por WhatsApp. Cada consulta es personalizada y <strong class="color-primary">no se realiza ningún cobro</strong> hasta tener en detalle tus requerimientos y necesidades para entregarte una propuesta y presupuesto adecuado</p>
        <a href="{% url 'planes' %}" class="btn-section btn-80-mobile mt-3 mx-auto ">Cotizar</a>
      </div>
      <div class="col-lg-6 text-center mt-5">
        <img src="{% static 'images/cotizar.png' %}" alt="Diseño Web Médico" class="img-fluid w-75 mx-auto">
      </div>
    </div>
    <div class="row align-items-center mb-5 flex-lg-row-reverse" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
      <div class="col-lg-6 justify-mobile">
        <h2><strong>Videollamada de<span class="color-primary"> Diagnóstico</span></strong></h2>
        <p>En esta sesión analizamos tus necesidades, objetivos y expectativas. Solo después de conocerte te proponemos un plan personalizado. <strong class="color-primary">Sin compromiso ni pago anticipado.</strong></p>
      </div>
      <div class="col-lg-6 text-center">
        <img src="{% static 'images/Video files-bro.png' %}" alt="Videollamada Diagnóstico" class="img-fluid w-75 mx-auto">
      </div>
    </div>
    <div class="row align-items-center mb-5" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
      <div class="col-lg-6 justify-mobile">
        <h2><strong>Entrega de<span class="color-primary"> Propuesta Personalizada</span></strong></h2>
        <p>Te enviamos una propuesta clara que incluye diseño, funcionalidades, estrategia de posicionamiento y tiempos. Todo pensado para tu especialidad médica. Posterior al <strong class="text-success">"SI"</strong> de la propuesta, se envia el <strong class="text-dark">contrato</strong> y se firma por ambas partes</p>
      </div>
      <div class="col-lg-6 text-center">
        <img src="{% static 'images/propuesta.jpg' %}" alt="Propuesta Estratégica" class="img-fluid w-75 mx-auto">
      </div>
    </div>
    <div class="row align-items-center mb-5 flex-lg-row-reverse" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
      <div class="col-lg-6 justify-mobile">
        <h2><strong>Desarrollo de la propuesta</strong></h2>
        <p>Diseñamos tu página web, trabajamos la identidad visual y dejamos todo preparado para lanzar tu presencia digital con impacto profesional.</p>
      </div>
      <div class="col-lg-6 text-center">
        <img src="{% static 'images/Software integration-bro.png' %}" alt="Branding Médico" class="img-fluid w-75 mx-auto">
      </div>
    </div>
    <div class="row align-items-center mb-5" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
      <div class="col-lg-6 justify-mobile">
        <h2><strong>Lanzamiento y<span class="color-primary"> Capacitación</span></strong></h2>
        <p>Publicamos tu sitio web y te capacitamos para que puedas administrarlo o responder consultas. También puedes optar por dejarlo en nuestras manos con un plan mensual.</p>
      </div>
      <div class="col-lg-6 text-center">
        <img src="{% static 'images/Launching-pana.png' %}" alt="Lanzamiento Web Médico" class="img-fluid w-75 mx-auto">
      </div>
    </div>
    <div class="row align-items-center mb-5 flex-lg-row-reverse" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
      <div class="col-lg-6 justify-mobile">
        <h2><strong>Soporte y<span class="color-primary"> Optimización Continua</span></strong></h2>
        <p>Te acompañamos después del lanzamiento: mejoras continuas, posicionamiento en Google, rediseños si es necesario y análisis de resultados. Tienes 3 meses de garantias para poder mejorar, actualizar o modificar ciertas partes de tu pagina</p>
      </div>
      <div class="col-lg-6 text-center">
        <img src="{% static 'images/Call center-amico.png' %}" alt="Soporte Continuo" class="img-fluid w-75 mx-auto">
      </div>
    </div>
  </div>
</section>
<section class="d-flex align-items-center bg-light" style="min-height: 50vh;">
  <div class="container text-center">
    <h2 class="display-5 fw-semibold color-primary mb-3">Potencia tu consulta medica</h2>
    <p class="lead text-dark mb-4 d-none d-sm-block">Agenda una videollamada gratuita y conoce cómo podemos ayudarte a destacar online.</p>
    <a target="_blank" href="https://wa.me/56931009144?text=Hola,%20quiero%20potenciar%20mi%20consulta%20médica%20con%20su%20ayuda%20quiero%20agendar%20una%20reunión" class="btn btn-cta-alternative btn-lg px-5 py-3 shadow-sm">Agendar reunión</a>
  </div>
</section>


{% endblock %}