{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="hero-primary d-flex justify-content-center w-100">
  <div class="container pt-5">
    <div class="row justify-content-center align-items-center min-vh-70 text-center text-lg-start">
      <div class="col-lg-6 py-5 d-none d-lg-block"         
           data-aos="fade-right"
           data-aos-delay="300"
           data-aos-duration="500">
        <img src="{% static 'images/start.webp' %}" alt="Imagen médico" class="img-fluid w-100">
      </div>
      <div class="col-12 col-lg-6 hero-text px-3 px-lg-0"   
           data-aos="fade-left"
           data-aos-delay="300"
           data-aos-duration="500">
        <h1 class="fw-bold mb-4 text-light">
          <strong>
            <span class="d-none d-lg-inline display-4">EMPIEZA TU CLINICA MEDICA</span>
            <span class="d-inline d-lg-none display-5">EMPIEZA TU CLINICA MEDICA</span>
          </strong>
        </h1>
        <p class="text-uppercase text-light mb-4 d-sm-block d-none">
          <strong>Te guiamos paso a paso para que construyas una presencia profesional y confiable desde el principio</strong>
        </p>
        <a aria-label="ver plan incial" href="#plan" class="btn-cta-primary btn-lg mt-3">Plan Inicial</a>
      </div>
    </div>
  </div>
</section>

<section>
<div class="container d-flex align-content-center hero-section">
  <div class="row">
    <div class="col-lg-8">
      <section class="py-5 bg-white">
        <div class="container">
          <div class="row g-5">
            <div class="col-md-12 mb-4">
              <div class="d-flex flex-column flex-md-row align-items-center justify-mobile">
                <div class="me-md-4 mb-3 mb-md-0">
                  <span class="badge pill-bg-primary fs-5 p-3 rounded-pill">Paso 1</span>
                </div>
                <div class="p-sm-4">
                  <h4 class="fw-semibold">Identidad Visual Profesional</h4>
                  <p class="text-muted mb-2">Creamos tu logotipo, paleta de colores y estilo visual que refleje profesionalismo y confianza.</p>
                  <ul class="text-muted small list-unstyled">
                    <li>✔ Logotipo personalizado</li>
                    <li>✔ Paleta de colores y tipografías</li>
                    <li>✔ Manual de marca básico</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div class="d-flex flex-column flex-md-row align-items-center justify-mobile">
                <div class="me-md-4 mb-3 mb-md-0">
                  <span class="badge pill-bg-primary fs-5 p-3 rounded-pill">Paso 2</span>
                </div>
                <div class="p-sm-4">
                  <h4 class="fw-semibold">Diseño de Página Web Médica</h4>
                  <p class="text-muted mb-2">Creamos una página clara, moderna y funcional donde tus pacientes puedan encontrarte fácilmente.</p>
                  <ul class="text-muted small list-unstyled">
                    <li>✔ Página responsive y rápida</li>
                    <li>✔ Información clara de servicios y contacto</li>
                    <li>✔ Formulario de contacto o conexión a WhatsApp</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div class="d-flex flex-column flex-md-row align-items-center justify-mobile">
                <div class="me-md-4 mb-3 mb-md-0">
                  <span class="badge pill-bg-primary fs-5 p-3 rounded-pill">Paso 3</span>
                </div>
                <div class="p-sm-4">
                  <h4 class="fw-semibold">Presencia en Google y SEO Básico</h4>
                  <p class="text-muted mb-2">Hacemos que tu página aparezca en Google y optimizamos los textos para que los pacientes te encuentren fácilmente.</p>
                  <ul class="text-muted small list-unstyled">
                    <li>✔ Configuración de SEO inicial</li>
                    <li>✔ Registro en Google Business</li>
                    <li>✔ Palabras clave médicas esenciales</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4 d-flex align-content-center d-lg-block">
      <div class="card shadow-sm d-none d-lg-block  mb-3">
        <div class="card-body">
          <h5 class="fw-bold mb-3 color-primary">Planes Especiales</h5>
          <div class="d-grid gap-2">
            <a href="{% url 'principiante' %}" class="btn btn-outline-primary btn-sm btn-80-mobile" aria-label="comenzando" >Quiero Comenzar</a>
            <a href="{% url 'intermedio' %}" class="btn btn-outline-primary btn-sm btn-80-mobile" aria-label="creciendo" >Quiero Crecer</a>
            <a href="{% url 'avanzado' %}" class="btn btn-outline-primary btn-sm btn-80-mobile" aria-label="consolidando" >Quiero Consolidarme</a>
          </div>
        </div>
      </div>
      <div class="mb-5 sidebar-transition " id="plan" style="top: 100px;">
        <div class="card border-0 rounded-4 p-4 text-white" style="background-color: #1E293B;">
          <div class="card-body text-center">
            <div class="d-flex justify-content-center mb-3">
              <div class="bg-white rounded-circle d-flex align-items-center justify-content-center" style="width: 70px; height: 70px;">
                <i class="bi color-secondary bi-award display-4"></i>
              </div>
            </div>
            <h4 class="fw-bold text-white mb-3">Inicio Profesional</h4>
            <div class="mb-4">
              <span class="display-5 fw-bold text-white">$299.990</span>
            </div>
            <ul class="list-unstyled text-start text-white mb-4 px-3">
              <li class="mb-2 text-white"><i class="bi bi-check-circle-fill me-2"></i><strong> Identidad Visual:</strong> Logotipo, colores y manual.</li>
              <li class="mb-2 text-white"><i class="bi bi-check-circle-fill me-2"></i><strong> Sitio Web Médico:</strong> Diseño moderno, responsive.</li>
              <li class="text-white"><i class="bi bi-check-circle-fill me-2"></i><strong> SEO Básico:</strong> Google Business + keywords.</li>
            </ul>
            <a aria-label="plan incio profesional" href="https://wa.me/56931009144?text=Hola,%20estoy%20interesado%20en%20el%20plan%20Inicio%20Profesional.%20%C2%BFPodr%C3%ADan%20enviarme%20m%C3%A1s%20informaci%C3%B3n?" class="btn btn-cta-secondary rounded-pill px-4 py-2 fw-bold text-teal-700 mt-auto" target="_blank">Cotizar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}